@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model Profil

<br />
<br />
<div class="text-md-center">
    <div style="color:dimgray">
        <h3 class="form-signin-heading"><strong>@localizer["KULLANICI BİLGİLERİM"]</strong></h3>
        <hr class="colorgraph">
    </div>
</div>
<br />

<table class="table table-bordered table-dark">
    <tbody>
        <tr class="text-center">
            <th scope="row">@localizer["Kullanıcı Adı"]</th>
            <td>@Model.KullaniciAd</td>
        </tr>
        <tr class="text-center">
            <th scope="row">@localizer["E-Mail"]</th>
            <td>@Model.Email</td>
        </tr>
    </tbody>
</table>

<br />
<br />
<div class="text-md-center">
    <div style="color:dimgray">
        <h3 class="form-signin-heading"><strong><a href="/Profil/YaptigimPaylasimlar">@localizer["YAPTIĞIM PAYLAŞIMLARA GİT"]</a></strong></h3>
    </div>
</div>
<br />
